<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="datetime" jdbcType="DATE" property="datetime" />
    <result column="infos" jdbcType="VARCHAR" property="infos" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="auther" jdbcType="VARCHAR" property="auther" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, path, datetime, infos, count, title, auther
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Article">
    insert into article (id, name, path, 
      datetime, infos, count, 
      title, auther)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{datetime,jdbcType=DATE}, #{infos,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{auther,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="datetime != null">
        datetime,
      </if>
      <if test="infos != null">
        infos,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="auther != null">
        auther,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=DATE},
      </if>
      <if test="infos != null">
        #{infos,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="auther != null">
        #{auther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Article">
    update article
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        datetime = #{datetime,jdbcType=DATE},
      </if>
      <if test="infos != null">
        infos = #{infos,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="auther != null">
        auther = #{auther,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Article">
    update article
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      datetime = #{datetime,jdbcType=DATE},
      infos = #{infos,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      auther = #{auther,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
    select * from article
  </select>
  <update id="updateById"  parameterType="java.lang.Integer">
    update article set count = #{count } where id = #{id}
  </update>

</mapper>