<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.FoodPhotosMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.FoodPhotos">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, fid, path, cid, sid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from foodphotos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from foodphotos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.FoodPhotos">
    insert into foodphotos (id, name, fid, 
      path, cid, sid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{fid,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{cid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.FoodPhotos">
    insert into foodphotos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.FoodPhotos">
    update foodphotos
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.FoodPhotos">
    update foodphotos
    set name = #{name,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="findByFid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from foodphotos where fid=#{fid}
  </select>

  <select id="findByCid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from foodphotos where cid=#{cid}
  </select>

  <select id="findBySid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from foodphotos where sid=#{sid}
  </select>
  
</mapper>