<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.TalkMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.Talk">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="focusid" jdbcType="INTEGER" property="focusid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="talk" jdbcType="VARCHAR" property="talk" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.qf.utils.VTalk">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="talk" jdbcType="VARCHAR" property="talk" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    id, focusid, userid, talk, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from talk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from talk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.Talk">
    insert into talk (id, focusid, userid, 
      talk, img)
    values (#{id,jdbcType=INTEGER}, #{focusid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{talk,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.Talk">
    insert into talk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="focusid != null">
        focusid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="talk != null">
        talk,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="focusid != null">
        #{focusid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="talk != null">
        #{talk,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.Talk">
    update talk
    <set>
      <if test="focusid != null">
        focusid = #{focusid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="talk != null">
        talk = #{talk,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.Talk">
    update talk
    set focusid = #{focusid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      talk = #{talk,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByTalk" resultMap="BaseResultMap1" >
  select t.id,u.username,t.talk,t.img from talk t
  inner join focus f
  on t.focusid= f.focusid
  inner JOIN `user` u
  on f.focusid = u.userid
  where t.userid = #{userid}
  </select>
</mapper>